{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container" id="repositories">
    <div class="search">
        <input class="search" placeholder="search" autofocus>
    </div>

    <div class="list" class="panel-group" id="accordion" role="tablist">
        {% for dirname, repos in repositories %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading[{{ dirname }}]">
                <h3 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse[{{ dirname }}]">
                        {{ dirname }}
                    </a>
                </h3>
            </div>
            <div id="collapse[{{ dirname }}]" class="panel-collapse collapse in" role="tabpanel">
                <div class="panel-body">
                    {% for repository in repos %}
                    <div class="repository">
                        <div class="repository-header">
                            <i class="icon-folder-open icon-spaced"></i> <a href="{{ path('repository', {repo: repository.path}) }}"><span class="name">{{ repository.name }}</span></a>
                            <a href="{{ path('rss', {repo: repository.path, branch: 'master'}) }}"><i class="rss pull-right"></i></a>
                        </div>
                        <div class="repository-body">
                            {% if repository.description %}
                            <p>{{ repository.description }}</p>
                            {% else %}
                            <p>There is no repository description file. Please, create one to remove this message.</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <hr />

    {% include 'footer.twig' %}
</div>
{% endblock %}
